@model IEnumerable<MaisFII.Models.Carteira>

@{
    ViewData["Title"] = "Índice";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Novo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CarteiraId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CarteiraId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CarteiraId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
