@model IEnumerable<MaisFII.Models.Usuario>

@{
    ViewData["Title"] = "Índice";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Novo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.UsuarioId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UsuarioId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
