@model IEnumerable<MaisFII.Models.Fundo>

@{
    ViewData["Title"] = "Índice";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Segmento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkBMF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segmento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkBMF)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FundoId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.FundoId">Detalhes</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
