@model IEnumerable<MaisFII.Models.Fundo>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Novo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Segmento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkBMF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segmento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkBMF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-primary">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
