@model MaisFII.Models.OperacaoCompraVenda

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>OperacaoCompraVenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOperacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOperacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeCota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeCota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDaCota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDaCota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTaxaDaOperadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTaxaDaOperadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperacaoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperacaoTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fundo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fundo.RazaoSocial)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="" asp-action="Index">Voltar para Lista</a>
</div>
