@model IEnumerable<MaisFII.Models.OperacaoCompraVenda>

@{
    ViewData["Title"] = "Índice";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Novo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataOperacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeCota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDaCota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTaxaDaOperadora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperacaoTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fundo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeCota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDaCota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTaxaDaOperadora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperacaoTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fundo.RazaoSocial)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
